// reset
@import "./reset.css";
// pages
@import "./App.scss";
// components
@import "./repo.scss";
@import "./dropdown.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #58a6ff;
  text-decoration: unset;
  &:hover {
    text-decoration: underline;
  }
}
